body {
   font-family: "Arial", sans-serif
}
.container {
   position: relative;
   width: 100vw;
   padding-top: 40px;
   overflow-x: hidden;
}
.content {
   width: 85%;
   margin: 0 auto;
}
img {
   width: 100%;
   max-width: 960px;
   margin: 0 auto 20px auto;
}

.alphanumerics {
   width: 100%;
   height: 25px;
   display: flex;
   justify-content: space-around;
   padding: 0 20px;
   line-height: 25px;
}

.alphanumerics a {
   font-size: 13px;
   line-height: 25px;
}

h3 {
   display: block;
   font-family: 'Press Start 2P', sans-serif;
   font-size: 13px;
   line-height: 20px;
   margin-bottom: 20px;
}
.suggestions {
   font-size: 12px;
   font-style: italic;
   margin: 20px 0;
}
#search {
   width: 100%;
   margin: 0 auto;
   height: 20px;
   outline: 1px solid #6eb25f;
}
#results {
   width: 100%;
   margin: 15px 0;
   overflow-x: hidden;
}
#results li,
#results tr {
   font-size: 13px;
   text-align: left;
   padding: 5px;
}
#results li:nth-child(odd),
#results tr:nth-child(odd) {
   background-color: #6eb25f;
}
